@import url(https://fonts.googleapis.com/css?family=Special+Elite);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);


:root{
  --speed: 500ms;
  --text-color: rgb(255, 255, 255);
  --icon-size: 50px;
  --transformX-offset: calc(var(--icon-size)/-2);
  --menuColorPage: transparent;
  --menuColorShadow: rgb(13, 3, 3);
  --menuColorHeader: rgba(0, 0, 0, 0.039);
  --dropdownWidth: 30vw;
  --borderRadius: 5px;
  font-family: Raleway, sans-serif;

  --loginpage-speed: 1s;
  --loginpage-delay: 1s;
  --loginpage-delay-offset: 50ms;

  --loginpage-ping-thickness: 2px;
  --loginpage-ping-color: rgb(255, 0, 0);
  --loginpage-ping2-opacity: 0.5;
  --loginpage-ping-length: 2.5s;
  --loginpage-ping-offset: 50ms;
  --loginpage-ping-bezier: cubic-bezier(.52,.01,.5,1);

  --loginpage-font-main: 2em;
  --loginpage-font-sub: 1em;
}

@keyframes spawnLR{
    0%{
      opacity: 0%;
      width: 0vw;
      margin-left: 25vw;
    }
    100%{
      width: 50vw;
      opacity: 100%;
      margin-left: 0vw;
    }
  }

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: var(--text-color);
  text-decoration:none;
}

.App{
  width: 98vw;
  height: 98vh;
  padding: 1vh 1vw 1vh 1vw;
  z-index: 100;
  background-color: rgb(255, 208, 138);
  overflow:hidden;
  pointer-events: none;
}

html, body {
  background-color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    border-radius: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.menuOverlayContainer{
  height: inherit;
  width: auto;
  position: relative;
  z-index: 0;
  display: grid;
  overflow:hidden;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 9fr 1fr 1fr;
  pointer-events: none;
}

.menuOverlayContainer>*{
  padding-top: 10px;
  min-width: none;
  min-height: none;
  max-width: inherit;
  max-height: inherit;
  overflow: visible;

}


.menuIconButton{
  width: 100%;
  position: relative;
  

  text-align: left;
  align-items: center;
}
.visualComponent{
  font-size: 1em;
  transition-property: font-size;
  transition-duration: calc(var(--speed)/4);
  transition-timing-function: ease-in-out;
}

.visualComponent:hover{
  font-size: 1.1em;
}






#bottomRowMenuContainer{
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: center;
  align-content: center;
  align-items: center;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}



.viewMarkersButtonsDiv{
  pointer-events: auto;

}

.dropMarkerButton{
  pointer-events: auto;
}



.expandableMenu{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: auto;
  pointer-events: auto;
}



.selfExpandableMenu{
  pointer-events: auto;
  position: relative;
}

.dropdown{
  position: absolute;
  padding: 0px 5% 0px 5%;
  width: 90%;
  height: fit-content;
  pointer-events: none;
  border-radius: var(--borderRadius);
  border: solid var(--menuColorHeader);
  
  background-color: rgb(0, 0, 0);
  width: var(--dropdownWidth);
  z-index: 10;

  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}





.spawnLR{
  display: flex;
  pointer-events: none;
  position: absolute;
  justify-content: space-evenly;
  overflow-x: visible;
  overflow-y: visible;
  flex-direction: row;
  width: 0%;
  height: 100%;
  animation: spawnLR var(--speed) ease-in-out alternate both;
}

.selfExpanderItem{
  pointer-events: auto;
  position: relative;
  height: 100%;
  display: block;
  overflow-y: visible;
  align-items: center;
  justify-content: right;
  
  text-align: left;
  width: var(--icon-size)
}


.selfExpandClosed{
  margin-left: 50%;
  transform: translateX(calc(var(--icon-size)/-2));
}

.dropdownReverse>*{
  transform: translateX(var(--icon-size));
}

.dropdownRight{
  top: calc(-1 * var(--icon-size));
}

.dropdownLeft{
  top: calc(1 * var(--icon-size));
  text-align: right;
  right: 0px;
}

.dropdownLeft>*{
  text-align: right;
}

.dropdownDown{
  top: calc(1 * var(--icon-size));
}

.dropdownUp{
  top: var(--icon-size)*-1;
}

.dropdownItem{
  min-height: var(--icon-size);
  pointer-events: auto;
  -webkit-user-drag: none;
  width: 90%;
  background-color: var(--menuColorHeader);
  color: var(--text-color);
  letter-spacing:0.1em ;
  
  text-align: inherit;
  align-content: center;
  display: inline-block;
  flex-direction: row;
  position: relative;
  font-size: large;
  line-height: var(--icon-size);
  vertical-align: middle;

}

.subMenu{
  display:inline-block;
  flex-direction: row;
  position: relative;
  height:fit-content;
  top:auto;
  left:auto;
  right:auto;
  bottom:auto;
  border: none;
  border-radius: 0px;
  padding: 0 0 0 0;
  width: 100%;
}

.subMenu>*{
  border: none;
  width: 100%;
  background-color: rgb(20, 20, 20);
  border-radius: 0px;

}

.sliderComponent{
  height: 100%;
  width: 100%;
  line-height: normal;
  font-size: small;
  text-align: left;
  justify-content: space-evenly;
  vertical-align: top;
  align-items: center;
  

}




#mapWrapper{
  position: absolute;
  overflow:hidden;
  z-index: 0;
  height: inherit;
  width: inherit;
  pointer-events: auto;
}

#mapWrapper>*{
  border-radius: 10px;
  overflow: hidden;
}

#dropMarkerButton{
  grid-column: 3/4;
  grid-row: 7/8;
}

#deleteMarkerButton{
  grid-column: 4/5;
  grid-row: 7/8;
  text-align: right;
  align-items: right;
}

#accountButton{
  position: fixed;
  top: 2vh;
  right: 2vw;
  max-width: var(--dropdownWidth);
  justify-content: right;
  align-items: right;
  text-align: right;
  float: right;
  
}

#accountExpander>*{
  text-align: right;
  float:right;
  align-items: right;
}

#topLeftExpandableMenu{
  position:fixed;
  left: 2vw;
  top: 2vh;
  max-width: var(--dropdownWidth);

}

.burgerMenu{
  height: var(--icon-size);
  width: var(--icon-size);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.burgerMenu__line{
  width: 80%;
  height: 5px;
  background-color: black;
  border: solid black;
  border-width: 0px;
  transform: rotate(0deg);
  transition: height 250ms ease-in-out;
  
  

  
  
}

.expandableMenuOpenClass>.burgerMenu__line{
  height: 100px;
}

.burgerMenu:hover>.burgerMenu__line{
  height: 100px;
}



.selectMarkerTypeDiv{
  position:absolute;
  grid-column: 1/4;
  grid-row: 3/3;
  pointer-events: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}
.selectMarkerTypeDiv>*{
  position:relative;
  width: 50vw;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#selectMarkerTypeButton{
  grid-column: 2/3;

}

.markerVisual {
  position: inherit;
  border-radius: 50%;
  border: 8px solid;
  width: 8px;
  height: 8px;
  right: 13px;
  top: 7px;
}

.markerVisual::after {
  position: inherit;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid;
}

.markerVisualBG {
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
}

.landingpage {
  justify-content: center;
  color: white;
  font-size: 100px;
  font-family: "Special Elite";
}




.loginButton{
  background-color: none;
  width: 200px;
  height: 200px;
  align-items: center;

}

.incase_image{
  width: 30%;
  height: 80%;
}

.logoutbutton{
  background-color: gray;
  border-radius: 10vh;
  padding: 5%;
}

.logoutbutton:hover{
  background-color: red;
  animation: shake 2s;
  animation-iteration-count: infinite;
}

.locale {
  font-size: x-small;
}

.loginButton:hover{
  animation: shake 0.5s;
  animation-iteration-count: infinite;

}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.App {
  background-color: none;
}








.mapCustomControl{
  background-color: "#fff";
  border: "2px solid #fff";
  border-radius: "3px";
  box-shadow: "0 2px 6px rgba(0,0,0,.3)";
  color: "rgb(25,25,25)";
  cursor: "pointer";
  font-family: "Roboto,Arial,sans-serif";
  font-size: "16px";
  line-height: "38px";
  margin: "8px 0 22px";
  padding: "0 5px";
  text-align: "center";
}

.menuSection{
  width: 100%;
  height: 100px;
  border-top: 1px solid var(--menuColorShadow);
  background-color: var(--menuColorPage);
  border-radius: 1px;
  padding-top: 0px;
  height:fit-content;
  min-height: 10px;
  -webkit-user-drag: none;
  pointer-events: auto;
}

.menuSection>*{
  min-height: auto;
  line-height: 5px;
  -webkit-user-drag: none;
}

.menuSection>button{
  line-height: 100%;
}



#secondLeftDropdown>.dropdownItem{
  height: fit-content;
}

#topBar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;

}


#friendsList{
  height: fit-content;
  font-size: xx-small;
  line-height: normal;
}


#start-loginpage-below{
  -ms-content-zooming: none;
}

#loginbody{
    background: rgb(252, 255, 255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    vertical-align: center;
}

#loginbody>*{
    position: absolute;
    overflow: hidden;
    color: black;
}

@keyframes textrise {
    0%{
        opacity: 0;
        top: 120%;
    }


    100%{
        top: 0%;
        opacity: 1;
    }
}

@keyframes pingGrow{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }

    10%{
        transform: scale(1);
        opacity: 1;
    }
    35%{
        transform: scale(0.5);
        opacity: 0.2;
    }
    45%{
        transform: scale(0.5);
        opacity: 0.2;
    }
  

    100%{
        transform: scale(50);
        opacity: 0;
    }
}

@keyframes pingGrow2{
    0%{
        transform: scale(0.1);
        opacity: 0;
    }

   15%{
        transform: scale(1.2);
        opacity: 0.5;
    }
    35%{
        transform: scale(0.4);
        opacity: 0;
    }



    100%{
        transform: scale(50);
        opacity: 0;
    }
}


#ping1{
    position: absolute;
    animation: pingGrow var(--loginpage-ping-length);
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-fill-mode: forwards;
    height: 10vw;
    width: 10vw;
    top: 50%;
    left: 50%;
    margin-left: -5vw;
    margin-top: -5vw;
    z-index: 1;
    opacity: 0;
    background-color: red;
    border-radius: 100%;
    background-color: transparent;
    border-color: red;
    border-style: solid;
    border-width: var(--loginpage-ping-thickness);
}

#ping2{
    position: absolute;
    animation: pingGrow2 var(--loginpage-ping-length);
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-delay: var(--loginpage-ping-offset);
    animation-fill-mode: forwards;
    height: 10vw;
    width: 10vw;
    top: 50%;
    left: 50%;
    margin-left: -5vw;
    margin-top: -5vw;
    opacity: 0;
    z-index: 2;
    background-color: red;
    border-radius: 100%;
    background-color: transparent;
    border-color: red;
    border-style: solid;
    border-width: var(--loginpage-ping-thickness);
}





#textcontainer{
    height: auto;
    font-size: var(--loginpage-font-main);
    position:fixed;
    overflow: visible;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0%);
    min-width: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#textcontainer>*{
    position: relative;
    top: 120%;
    opacity: 0;
}



#loginP{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(1*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;

}

#loginI{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(2*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;
    overflow: visible;

}

#loginN{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(3*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;

}

#loginG{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(4*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;

}

#loginE{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(5*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;

}

#loginR{
    animation: textrise var(--loginpage-speed);
    animation-fill-mode: forwards;
    animation-delay: calc(var(--loginpage-delay) + calc(6*var(--loginpage-delay-offset)));
    animation-timing-function: var(--loginpage-ping-bezier);
    animation-iteration-count: 1;

}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.letter{
    font-size: var(--loginpage-font-main);
    color: black;
}

#theloginbutton{
    z-index: 10;
    animation: fade 1s;
    animation-delay: calc(var(--loginpage-delay) + var(--loginpage-speed));
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: absolute;
    opacity: 0;
    top: 75%;
    left: 50%;
    transform: translate(-50%, 50%);
    width: fit-content;
    height: 30px;
    background-color:transparent;
    border-radius: 10px;
    border: transparent solid 3px;
    color: rgb(0, 0, 0);
    font-size: var(--loginpage-font-sub);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    transition: 0.2s;
    transition-property: background-color, color;
}

#theloginbutton:hover{
    background-color: rgba(0, 0, 0, 0.1);
}

@keyframes screenrise{
    0%{
        top: 130%;
    }
    100%{
        top: -50%;
    }
}

#screenout{
    position: fixed;
    width: 300%;
    height: 200%;
    rotate: 8deg;
    background-color: rgb(255, 255, 255);
    top: 130%;
    animation-fill-mode: forwards;
    z-index: 100;
    
}

.tsc{
    animation: screenrise 1s ease-in-out;
    
}
