:root{
  --speed: 500ms;
  --text-color: black;
  --icon-size: 50px;
  --transformX-offset: calc(var(--icon-size)/-2);
}

@keyframes spawnLR{
    0%{
      opacity: 0%;
      width: 0%;
    }
    100%{
      width: 100%;
      opacity: 100%;
    }
  }

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}

a{
  color: var(--text-color);
  text-decoration:none;
}

.App{
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  pointer-events: none;
}

.menuOverlayContainer{
  position: relative;
  grid-column: 1/10;
  grid-row: 1/9;
  z-index: 0;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr 9fr 1fr 1fr;
  pointer-events: none;
}

.menuIconButton{
  height: 100%;
  width: 100%;
  position: relative;
  transform: translateX(var(--transformX-offset));

  text-align: center;
  align-items: center;
}

.menuIconButton>*:hover{
  transform: scale(1.05);

}

#bottomRowMenuContainer{
  grid-column: 1/4;
  grid-row: 4/5;
  text-align: center;
  align-content: center;
  align-items: center;
  pointer-events: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}



.viewMarkersButtonsDiv{
  pointer-events: auto;

}

.dropMarkerButton{
  pointer-events: auto;
}



.expandableMenu{
  pointer-events: auto;
  margin-left: 50%;
}

.selfExpandableMenu{
  pointer-events: auto;
}

.dropdown{
  pointer-events: none;
  position:absolute;
  top: var(--icon-size) + 3px;
  width: 30vw;
  height: 80vh;
  overflow: visible;
  display: inline-block;
  align-items: center;
  justify-content: center;
}



.spawnLR{
  display: flex;
  pointer-events: none;
  position: absolute;
  justify-content: space-evenly;
  overflow-x: hidden;
  overflow-y: visible;
  flex-direction: row;
  transform: translateX(-50%);
  width: 0%;
  height: 100%;
  animation: spawnLR var(--speed) ease-in-out alternate both;
}

.selfExpanderItem{
  pointer-events: auto;
  position: relative;
  height: 100%;
  display: block;
  overflow-y: visible;
  align-items: center;
  justify-content: right;
  
  text-align: left;
  width: var(--icon-size)
}

.selfExpandOpen{
  margin-left: 50%;
}

.selfExpandClosed{
  margin-left: 50%;
}

.dropdownReverse>*{
  transform: translateX(var(--icon-size));
}

.dropdownRight{
  top: 0px;
  transform: translateX(100%);
}

.dropdownLeft{
  top: 0px;
  transform: translateX(-100%);
}

.dropdownDown{
  top: var(--icon-size);
}

.dropdownUp{
  top: var(--icon-size)*-1;
}

.dropdownItem{
  pointer-events: all;
  display: inline-block;
  width: 100%;
  background-color: white;
}

.dropdownItem:hover{
  background-color: #f1f1f1;
}


.accountButton{
  grid-column: 2/3;
  grid-row: 1/2;
  justify-content: center;
  align-items: center;
}

#mapWrapper{
  position: absolute;
  z-index: 0;
  height: 100%;
  width: 100%;
  grid-column: 2/9;
  grid-row: 1/9;
  pointer-events: auto;
}

#dropMarkerButton{
  grid-column: 3/4;
  grid-row: 7/8;
}

#deleteMarkerButton{
  grid-column: 4/5;
  grid-row: 7/8;
}

#accountButton{
  grid-column: 8/9;
  grid-row: 1/2;
  transform: translateX(-50%);
}

#settingsButton{
  grid-column: 1/2;
  grid-row: 1/2;

}

.burgerMenu{
  height: var(--icon-size);
  width: var(--icon-size);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  box-sizing: border-box;
}

.burgerMenu__line{
  width: 80%;
  height: 5px;
  background-color: black;
  border: solid black;
  border-width: 0px;
  transform: rotate(0deg);
  transition: border-width 1s ease-in-out 0s;
  

  
  
}

.burgerMenu:hover>.burgerMenu__line{
  border-width: 2px;
}



.selectMarkerTypeDiv{
  grid-column: 2/3;
  grid-row: 3/3;
  pointer-events: auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

#selectMarkerTypeButton{
  grid-column: 2/3;

}

.markerVisual {
  position: inherit;
  border-radius: 50%;
  border: 8px solid;
  width: 8px;
  height: 8px;
  right: 13px;
  top: 7px;
}

.markerVisual::after {
  position: inherit;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid;
}

.markerVisualBG {
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
}

.landingpage {
  justify-content: center;
  color: white;
  font-size: 150px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}



.landingpage .loginpage {
  display: flex;
 
}

.loginButton{
  font-size: 80px;
  background-color: white;
  border-radius: 10px;
  width: auto;
  height: auto;
  font-family:Verdana, Geneva, Tahoma, sans-serif;

}
.loginButton :hover{
  background-color: gray;

}

.App {
  background: none;
}








.mapCustomControl{
  background-color: "#fff";
  border: "2px solid #fff";
  border-radius: "3px";
  box-shadow: "0 2px 6px rgba(0,0,0,.3)";
  color: "rgb(25,25,25)";
  cursor: "pointer";
  font-family: "Roboto,Arial,sans-serif";
  font-size: "16px";
  line-height: "38px";
  margin: "8px 0 22px";
  padding: "0 5px";
  text-align: "center";
}